<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CoolName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="" class="btn btn-default login">Ash</a></li>
      <li><a href="" class="btn btn-default login">Gary</a></li>
      <% if (user_id) { %>
      <li><a href="/users/<%= user_id %>" class="btn btn-default">My Profile</a></li>
      <li><a href="/logout" class="btn btn-default">Logout</a></li>
      <% } %>
    </ul>
  </div>
</nav>
