<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maps</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Local Styles -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- JQuery and local scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>
  </head>

  <body>
    <% include partials/_navbar %>
    <div class="container-fluid map-page-views">
      <div class="row">
        <div class="col-xs-3">

          <section class="maps-pane">
            <div class="new-map">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" name="map_title" placeholder="Title">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Create Map!</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="list-group map-list">
              <!-- MAP LIST GENERATED HERE -->
            </div>
          </section>

          <section class="points-pane hidden">
            <div class="list-group points-list">
              <!-- POINTS LIST GENERATED HERE -->TEST TEST
            </div>
          </section>

          <section class="point-detail-pane hidden">

          </section>

        </div>
        <div class="col-xs-9">
          <div class="map-box">
            <!-- PUT GOOGLE MAP HERE -->MAP GOES HERE
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

