<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maps</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Local Styles -->
    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body>
    <% include partials/_navbar %>
    <div class="container-fluid map-page-views">
      <div class="row">
        <div class="col-xs-3">
          <ol class="breadcrumb">
            <li class="maps-crumb" data-userid="<%=USER_ID%>">Maps</li>
            <li class="points-crumb hide-class">Points</li>
            <li class="pdetail-crumb hide-class">Detail</li>
          </ol>
          <section class="maps-pane">
            <% if (USER_ID) { %>
            <div class="new-map">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" name="map_title" placeholder="Title">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Create Map!</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="alert alert-warning alert-dismissible hide-class" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Input must not be empty.
            </div>
            <% } %>
            <div class="list-group map-list">
              <!-- MAP LIST GENERATED HERE -->
            </div>
          </section>
          <section class="points-pane hide-class">
            <% if (USER_ID) { %>
            <div class="row">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-default add-point-btn col-md-6" data-toggle="modal" data-target="#point-modal">
                Add Point
              </button>
              <!-- Button add to favourite -->
              <button type="button" class="btn btn-default favourite col-md-6">
                Like
              </button>
            </div>
            <% } %>
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="maps-title"></h5>
                </div>
                <div class="panel-body">
                  <div class="list-group points-list">
                  <!-- POINTS LIST GENERATED HERE -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="point-detail-pane hide-class">
            <!-- SPECIFIC POINT DETAILS GENERATED HERE -->
            <% if (USER_ID) { %>
            <p>
            <!-- EDIT AND DELETE POINT BUTTONS GO HERE -->
            <button type="button" class="btn btn-default point-edit-btn" data-toggle="modal" data-target="#point-modal">
              Edit
            </button>
            <button type="button" class="btn btn-default point-delete-btn">
              Delete
            </button>
            </p>
            <% } %>
            <div class="thumbnail">
              <img class="img-thumbnail">
              <div class="caption text-center">
                <h3 class="thumbnail-title"></h3>
                <p class="description"></p>
                <p class="point-created-by"></p>
              </div>
            </div>
          </section>

        </div>
        <div class="col-xs-9">
          <div class="map-box">
            <!-- PUT GOOGLE MAP HERE -->
          </div>
        </div>
      </div>
    </div>

    <!-- Add Point Modal -->
    <div class="modal fade" id="point-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add a New Point</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5">
                <form class="modal-form">
                  <div class="form-group">
                    <label for="location" class="control-label">Location</label>
                    <input type="text" class="form-control" id="location">
                  </div>
                  <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="form-group">
                    <label for="image" class="control-label">Image Link</label>
                    <input type="text" class="form-control" id="image" name="image">
                  </div>
                  <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
                </form>
              </div>
              <div class="col-md-7">
                <div id = "modal-map">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary submit-point">Add Point</button>
          </div>
        </div>
      </div>
    </div>


    <!-- JQuery, Bootstrap, and Local scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&libraries=places"></script>
    <script type="text/javascript" src="/scripts/app-refactor.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>
    <script type="text/javascript" src="/scripts/point-modal.js"></script>
  </body>
</html>

