.map-page-views {

  li {
    &.hide-class {
      display: none;
    }
  }

  .maps-pane {
    &.hide-class {
      display: none;
    }

    .list-group {
      overflow-y: scroll;
      height: 67vh;
    }

    .new-map {
      padding: $global-padding 0;
    }
  }

  .map-box {
    padding: $global-padding 0;
    height: 570px;
  }

  .point-detail-pane {
    &.hide-class {
      display: none;
    }
  }

  .points-pane {
    &.hide-class {
      display: none;
    }
  }
}

#modal-map {
  height: 300px;
  overflow:visible;
}

.pac-container {
  z-index: 1051;
}
