.map-page-views {

  .maps-pane {
    &.hide-pane {
      display: none;
    }

    .new-map {
      padding: $global-padding 0;
    }
  }

  .map-box {
    padding: $global-padding 0;
  }

  .point-detail-pane {
    &.hide-pane {
      display: none;
    }
  }

  .points-pane {
    &.hide-pane {
      display: none;
    }
  }
}

#modal-map {
  height: 300px;
  overflow:visible;
}

.pac-container {
  z-index: 1051;
}
