nav {
  .navbar-header {
    padding: $global-padding;

    .navbar-brand {
      border-radius: 5px;
      background-color: #a3d0e2;
      color: #515151;
    }
  }

  ul {
    padding: $global-padding;

    li {
      padding: 0 $global-padding / 2;
    }
  }
}

