.profile-page {
  .col-centered {
      display:inline-block;
      float:none;
      /* reset the text-align */
      text-align:left;
      /* inline-block space fix */
      margin-right:-4px;
  }

  .list-holder {
    padding: $global-padding;
    background-color: #FFF;
  }

  .list-group {
    padding: 0;
    overflow-y: scroll;
    height: 60vh;
  }

  .col-centered {
    vertical-align: top;
  }

  .row-centered {
    text-align: center;
  }
}
